* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
/* header section */
.header-section {
  position: relative;
  display: flex;
}
.nav-section {
  position: absolute;

  width: 494px;
  height: 78px;
  left: 876px;
  top: 468px;
  top: 216px;
}
.nav-title {
  font-weight: 700;
  font-size: 65px;
  color: #151414;
  text-align: right;
}
.nav-description {
  text-align: right;
  margin: 24px 0;
}
.btn-primary {
  float: right;
  padding: 20px;
  background: #f15b22;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
}
/* banner section */
.banner-image {
  position: relative;
  width: 569px;
  left: 206px;
  top: 100px;
}
.banner-title {
  position: absolute;
  width: 402px;
  height: 468px;
  left: 876px;
  top: 1178px;
}
.banner-head {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 26.5px;
}
.banner-description {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 17.5px;
}
.unordered-list {
  margin-bottom: 15px;
  line-height: 25px;
  list-style: none;
}
li:before {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  color: aqua;
  margin-right: 5px;
}
.main-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  width: 459px;
  height: 94px;
  left: 294px;
  top: 2281.26px;
  color: #fff;
  padding: 20px;

  
}
/* My plans section */
.plans-title {
  font-weight: 700;
  font-size: large;
  margin-bottom: 20px;
}
.my-plans {
  margin-top: 200px;
  text-align: center;
}
.plans-container {
  display: flex;
  margin: 0 500px;
  margin-top: 100px;
}
.plans {
  margin-right: 80px;
  
}
.main-section {
  position: absolute;
  background: linear-gradient(90deg, #f15b22 0%, rgba(241, 91, 34, 0) 100%);
  border-radius: 8px;
  
}
.gradiant {
  position: relative;
  margin-top: 50px;

  width: 1200px;
  left: 230px;
  font-weight: 700;
  font-size: 40px;
  line-height: 165px;
}
.call-now{
  position: relative;
  padding: 20px;
  background: #faf7f6;
  border-radius: 5px;
  border: none;
  color: rgb(246, 127, 8);
  font-weight: 700;
  font-size: 20px;
  left: 30px;
  
}
/* footer section */
.main-footer{
  margin: 0 230px;
  background-color: #151414;
  display: flex;
  padding: 100px;
  color: #fff;
  line-height: 30px;
  
  
}
.footer-right{
  line-height: 30px;
  color: #fff;
  margin-left: 100px;

 
}
.btn-sub{
  margin-top: 20px;
  color:#F15B22;
  padding: 10px;
  border-radius: 5px;
  font-weight: 700;
}
.icon{
  margin-top: 10px;
  
}
