* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
.header-section {
  position: relative;
  display: flex;
}
.nav-section {
  position: absolute;

  width: 494px;
  height: 78px;
  left: 876px;
  top: 468px;
  top: 216px;
}
.nav-title {
  font-weight: 700;
  font-size: 65px;
  color: #151414;
  text-align: right;
}
.nav-description {
  text-align: right;
  margin: 24px 0;
}
.btn-primary {
  float: right;
  padding: 20px;
  background: #f15b22;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
}
.banner {
}
.banner-image {
  position: relative;
  width: 569px;
  left: 206px;
  top: 100px;
  background: rgba(241, 91, 34, 0.2);
  
  
  
  
}
.banner-title {
  position: absolute;
  width: 402px;
  height: 468px;
  left: 876px;
  top: 1178px;
}
.banner-head {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 26.5px;
}
.banner-description {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 17.5px;
}
.unordered-list {
  margin-bottom: 15px;
  line-height: 25px;
  list-style: none;
  
}
li:before{
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    color: aqua;
    margin-right: 5px;
}
.my-plans{
    margin-top: 200px;
    text-align: center;
}

    
   


